@{
    ViewData["Title"] = "Welcome to Watch Me!";
}
<div class="content">
    <div class="content-box" style="align-self: center;">
        <h1> Welcome to Watch Me!</h1>
        <p>Discover, track, and rate your favorite movies and series!</p>
        <div class="mt-4">
            <a href="/Home/Login" class="btn btn-primary me-2">Login</a>
            <a href="/Home/Register" class="btn btn-secondary">Register</a>
            <a href="/Home/Index" class="btn btn-secondary">Guest</a>
        </div>
    </div>
</div>